<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ryuu.learn.springsecurity.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO users (username, password)
        VALUES (#{username}, #{password});
    </insert>
    <resultMap id="userResultMap" type="org.ryuu.learn.springsecurity.dto.User">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="authorities" ofType="org.ryuu.learn.springsecurity.dto.Authority">
            <result property="authority" column="authority"/>
        </collection>
    </resultMap>
    <select id="selectAll" resultMap="userResultMap">
        SELECT users.username, users.password, user_role.role AS authority
        FROM users
                 LEFT JOIN user_role on users.username = user_role.username;
    </select>
    <select id="selectByUsername" resultMap="userResultMap">
        SELECT users.username, users.password, user_role.role AS authority
        FROM users
                 LEFT JOIN user_role on users.username = user_role.username
        WHERE users.username = #{username};
    </select>
    <delete id="deleteByUsername">
        DELETE
        FROM users
        WHERE username = #{username};
    </delete>
</mapper>